In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import matplotlib 
from tqdm import tqdm
from statistics import mean
%matplotlib inline

In [2]:
trainData = pd.read_csv("../Data/train.csv", index_col = 0)
testData = pd.read_csv("../Data/test.csv", index_col = 0)
mean_value = trainData['Age'].mean()
trainData['Age'] = trainData['Age'].fillna(29.7)
testData['Fare'] = testData['Fare'].fillna(testData['Fare'].mean())

In [6]:
xTrain = trainData[["Pclass", "SibSp", "Parch", "Fare","Embarked","Sex","Name"]]
xTrain = pd.concat([xTrain, pd.get_dummies(xTrain["Embarked"],prefix = "Embarked")],axis = 1)
xTrain = pd.concat([xTrain, pd.get_dummies(xTrain["Sex"],prefix = "Sex")],axis = 1)
xTrain.drop(["Embarked","Sex", "Name"],axis = 1, inplace = True)


yTrain = trainData["Survived"]


xTest = testData[["Pclass", "SibSp", "Parch", "Fare","Embarked","Sex", "Name"]]
xTest = pd.concat([xTest, pd.get_dummies(xTest["Embarked"],prefix = "Embarked")],axis = 1)
xTest = pd.concat([xTest, pd.get_dummies(xTest["Sex"],prefix = "Sex")],axis = 1)
xTest.drop(["Embarked","Sex","Name"],axis = 1, inplace = True)

In [7]:
xTrain['Title'] = xTrain['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())
xTest['Title'] = xTest['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())

In [9]:
# Substitute rare female titles
xTrain['Title'].replace(['Mme', 'Ms', 'Lady', 'Mlle', 'the Countess', 'Dona'], 'Miss', inplace=True)
xTest['Title'].replace(['Mme', 'Ms', 'Lady', 'Mlle', 'the Countess', 'Dona'], 'Miss', inplace=True)
# Substitute rare male titles
xTrain['Title'].replace(['Major', 'Col', 'Capt', 'Don', 'Sir', 'Jonkheer'], 'Mr', inplace=True)
xTest['Title'].replace(['Major', 'Col', 'Capt', 'Don', 'Sir', 'Jonkheer'], 'Mr', inplace=True)

In [10]:
print(xTrain.head())

             Pclass  SibSp  Parch     Fare  \
PassengerId
1                 3      1      0   7.2500
2                 1      1      0  71.2833
3                 3      0      0   7.9250
4                 1      1      0  53.1000
5                 3      0      0   8.0500

                                                          Name  Embarked_C  \
PassengerId
1                                      Braund, Mr. Owen Harris           0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...           1
3                                       Heikkinen, Miss. Laina           0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)           0
5                                     Allen, Mr. William Henry           0

             Embarked_Q  Embarked_S  Sex_female  Sex_male Title
PassengerId
1                     0           1           0         1    Mr
2                     0           0           1         0   Mrs
3                     0           1           1         0  Miss
4                     0           1           1         0   Mrs
5                     0           1           0         1    Mr